{% extends "template.html" %}
{% block title %}My Profile{% endblock %}
{% block content %}
<div>
    <h2>My Profile</h2>
    <p>Hello, <span>{{ user.email }}</span>. View your profile from your identity provider's ID token below.
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Claim</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for key, claim in user.claims() %}
    <tr>
        <td>{{ key }}</td>
        <td id="claim-{{ key }}">
            {{ claim }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
